/* element selector */
*{
    box-sizing: border-box;
}
body {
    background-color: blue;
    font-family: calibri;
    color: white;
}
/* media query */
/* tablet : layout yang ditampilkan 2 kolom*/

@media screen and (min-width: 600px){
    body{
        background-color: yellow;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    .col-sm-12{
        width: 100%;
        float: left;
    }


}
/* dekstop : layout yang ditampilkan 4 kolom */
@media screen and (min-width: 992px) {
    body {
        background-color: green;
    }
    .col-lg-3{
        width: 25%;
        float: left;
    }
    .col-lg-6 {
        width: 50%;
        float: left;
    }
    .col-lg-4{
        width: 33.33%;
        float: left;
    }
    
}
    body {
        
    }
    

/* calss selector */
.text-primary {
    color: aqua;
}
.col {
    width: 25%;
    float: left;
}

.img-responsive {
    width: 100%;
    max-width: 500px;
}
.img-responsive1 {
    width: 100%;
    max-width: 200%;
}
.circle {
    border-radius: 50%;
}
.circle1 {
    border-radius: 10%;
}
.rounded {
    border-radius: 20px;
}
.p-1 {
    padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
